body{
	background-color:rgb(255, 255, 255);
}

.heading {
	width: 80%;
	height: 5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
	background-color: rgb(183, 196, 236);
	text-align: center;
	color:#3a3838;
	font-family: 'Indie Flower', cursive;
	font-size: 2rem;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, .5);
}

.inputform{
	text-align:center;
	color:#3a3838;
	font-family: 'Indie Flower', cursive;
}

.inputarea{
	height:2rem;
	width:30%;
	box-shadow:0px 1px 1px 1px rgba(0, 0, 0, .2);
	font-size:1rem;
}

.grid{
	margin-top:2rem;
	display:block;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, .5);
	padding:2rem;
	width:85%;
}